html
    head
        title Error
        link(rel="stylesheet", href="styles/error.css")
    body
        div#root
        script.
            var message = !{message};
        script(src="scripts/index.js", type="text/javascript")