html
    head
        title Static
        link(rel="stylesheet", href="styles/static.css")
    body
        div#root
        script.
            var message = !{message};
        script(src="scripts/index.js", type="text/javascript")