html
    head
        title Index
        link(rel="stylesheet", href="styles/index.css")
    body
        div#root
        script.
            var message = !{message};
        script(src="scripts/index.js", type="text/javascript")